<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Hello World using Vuejs</title>
</head>

<body>
     <div id="app">
          <h1>{{title}}</h1>

          <input type="text" v-model="newFruit">
          <button @click="addFruit">Add</button>
          <!-- <button v-on:click="addFruit">Add</button> -->

          <ul>
               <li v-for="fruit of fruits">
                    {{fruit.name}} - {{fruit.quantity}}
                    <span v-if="fruit.quantity === 0"> - Sin Stock</span>
               </li>
          </ul>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="./js/functions.js"></script>
</body>

</html>